<nav class="tab-nav">

  <button
    type="button"
    class="tab-item"
    [class.active]="isHomeActive()"
    (pointerup)="onGoHomeTap($event)"
    (click)="onGoHomeTap($event)"
    (touchend)="onGoHomeTap($event)"
    [attr.aria-current]="isHomeActive() ? 'page' : null"
  >
    <span class="tab-icon">
      <svg class="list-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </span>
    <span class="tab-label">Listado</span>
  </button>

  <button
    type="button"
    class="tab-item"
    [class.active]="isBuscarActive()"
    (pointerup)="onGoBuscarTap($event)"
    (click)="onGoBuscarTap($event)"
    (touchend)="onGoBuscarTap($event)"
    [attr.aria-current]="isBuscarActive() ? 'page' : null"
  >
    <span class="tab-icon">
      <svg class="search-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <circle cx="11" cy="11" r="6.5" />
        <line x1="16" y1="16" x2="21" y2="21" />
      </svg>
    </span>
    <span class="tab-label">Búsqueda</span>
  </button>

</nav>